.button {
	background-color: #2d2e30;
	border: white;
	border-style: solid;
	color: white;
	padding: 10px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 6px;
}

.body-contents {
	background-color: #18191b;
	text-align: center;
	color:white;
}

input[type=text], select {
	width: 28%;
	padding: 20px 24px;
	margin: 12px 0;
	margin-left: -25px;
	display: inline-block;
	background-color: #2d2e30;
	font-size: 28px;
	color: white;
	border: 2px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password]{
	width: 28%;
	padding: 20px 24px;
	margin: 12px 0;
	margin-left: -25px;
	display: inline-block;
	background-color: #2d2e30;
	font-size: 28px;
	color: white;
	border: 2px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}